mixin header(page)
  +b.HEADER.header&attributes(attributes)
    .container
      +e.logo.js-sr_fade_d100
        +e.IMG.image(src="assets/images/logo.svg")
      +e.slogan.js-sr_right_d200 Your business aviation insider
      +e.end.js-sr_right_d200
        +link.__lang(href="#") Ru
        if page
        +e.page!=page
    block

mixin header-dark(page)
  +b.HEADER.header_dark&attributes(attributes)
    .container
      +e.A.logo(href='./')
        +e.IMG.image(src="assets/images/logo-dark.svg")
      +e.slogan Amethyst Jet - your business aviation insider
      +e.end
        +link.__lang(href="#") Ru
        if page
          +e.page!=page
    block

mixin ui-kit-header()
  +ui-section
    +ui-section-head
      +ui-title Компонент header
      +ui-path
        p Компонент: components/header/header
      +ui-description
        p Описание компонента

    +ui-section-content()
      +header
      +header-dark

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
