.header {
  $b: &;

  display: block;
  color: $color-white;
  box-sizing: border-box;
  width: 100%;

  @include rule(padding-top, (xl: 3.49vw, lg: 4.9vw, md: 6.7vw, sm: 6.4vw));
  @include rule(padding-bottom, (xl: 3.49vw, lg: 4.9vw, md: 6.7vw, sm: 6.4vw));

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  &__logo {
    display: inline-block;
    font-size: 0;
    line-height: 0;

    @include rule(margin-left, (sm: -4.53vw));
  }

  &__image {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: auto;

    @include rule(height, (xl: 4.17vw, lg: 5.86vw, md: 8vw, sm: 12vw));
    @include rule(margin-bottom, (xl: -1.35vw, lg: -1.9vw, md: -2.6vw, sm: 0));

    // @include screen('sm') {
    //   @media (orientation: landscape) {
    //     height: calc(var(--vh, 1vh) * 12);
    //   }
    // }
  }

  &__slogan {
    position: relative;
    display: inline-block;
    color: currentColor;
    font-family: $font-header;

    @include text-big;
    @include rule(margin-top, (sm: 11.2vw));

    @include screen('sm') {
      width: 100%;
      order: 3;

      // @media (orientation: landscape) {
      //   font-size: calc(var(--vh, 1vh) * 3.73);
      //   margin-top: calc(var(--vh, 1vh) * 3.22);
      // }
    }

    &::before {
      @include pseudo;
      @include rule(height, (xl: 6.3vw, lg: 8.86vw, md: 12.1vw, sm: 1px));
      @include rule(width, (xl: 1px, sm: 8vw));
      @include rule(left, (xl: -2.55vw, lg: -3.59vw, md: -4.9vw, sm: 0));
      @include rule(bottom, (xl: .6em, sm: -7.2vw));

      background-color: $color-white;
      transition: opacity .5s ease-in;
      opacity: .33;

      // @include screen('sm') {
      //   @media (orientation: landscape) {
      //     bottom: calc(var(--vh, 1vh) * -2.02);
      //   }
      // }

      #{$b}_dark & {
        background-color: $color-basic;
      }
    }

    &.is-show {
      &::before {
        opacity: 0;
      }
    }

    &:not(:first-child) {
      @include rule(margin-left, (xl: 7.55vw, lg: 10.61vw, md: 14.5vw, sm: 0));
    }

    #{$b}_dark & {
      @include text-big-xl16;

      // @include screen('sm') {
      //   @media (orientation: landscape) {
      //     font-size: calc(var(--vh, 1vh) * 4.267);
      //   }
      // }
    }
  }

  &__end {
    display: inline-flex;
    justify-content: flex-end;
    align-items: baseline;

    @include screen('sm') {
      align-self: center;
      order: 2;
    }

    &:not(:first-child) {
      margin-left: auto;
    }
  }

  &__lang {
    display: inline-block;
    text-transform: uppercase;
    color: currentColor;
    font-family: $font-header;

    @include header-3-sm14;

    // @include screen('sm') {
    //   @media (orientation: landscape) {
    //     font-size: calc(var(--vh, 1vh) * 3.73);
    //   }
    // }
  }

  &__page {
    box-sizing: border-box;
    background-color: $color-white;
    color: $color-dark;

    @include text-mid;
    @include rule(padding, (xl: 0 .104vw, lg: 0 .146vw, md: 0 .2vw, sm: .533vw));
    @include rule(display, (xl: inline-block, md: none));

    &:not(:first-child) {
      @include rule(margin-left, (xl: 2.55vw, lg: 3.59vw));
    }

    #{$b}_dark & {
      background-color: $color-dark;
      color: $color-white;
    }
  }

  &_dark {
    color: $color-dark;
  }

  &_abs {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

  &_fix {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
}
