extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | Map'

block header
  - var headerDark = true
  - var noFooter = false
  +header-dark()

block content
  +b.sitemap
    .container
      .container.container_inner
        +link._purple.__link(href="ui-kit.html") UI-kit (ui-kit.html)
        +link._purple.__link(href="index.html") Main (index.html)
        +link._purple.__link(href="policy.html") Privacy policy (policy.html)
