@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  @include rule(max-width, (xl: 90.42vw, lg: none));
  @include rule(padding-left, (xl: 3.02vw, lg: 4.24vw, md: 4vw, sm: 10.67vw));
  @include rule(padding-right, (xl: 3.02vw, lg: 4.24vw, md: 4vw, sm: 10.67vw));

  &_inner {
    max-width: none;

    @include rule(padding-left, (xl: 14.48vw, lg: 20.35vw, md: 14vw, sm: 0));
    @include rule(padding-right, (xl: 4.69vw, lg: 0, md: 9vw, sm: 0));
  }

  &_text {
    max-width: none;

    @include rule(padding-left, (xl: 14.48vw, lg: 6.59vw, md: 9vw, sm: 0));
    @include rule(padding-right, (xl: 14.48vw, lg: 6.59vw, md: 9vw, sm: 0));
  }
}

.page {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;

  @include rule(padding-bottom, (xl: 4.844vw, lg: 8.1vw, md: 4vw, sm: 6vw));

  &::before {
    @include pseudo;

    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 100vh);
    background-color: $color-bg;
    z-index: 2;
  }
}

.hide {
  display: none;
}

.hide-lg {
  @include rule(display, (lg: none));
}

.hide-md {
  @include rule(display, (md: none));
}

.hide-sm {
  @include rule(display, (sm: none));
}

.show-lg {
  @include screen('lg', min) {
    display: none;
  }
}

.show-md {
  @include screen('md', min) {
    display: none;
  }
}

.show-sm {
  @include screen('sm', min) {
    display: none;
  }
}

.js-sr {
  visibility: hidden;
}
