@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  @include rule(max-width, (xl: 90.42vw, lg: none));
  @include rule(padding-left, (xl: 3.02vw, lg: 4.24vw, md: 4vw, sm: 10.67vw));
  @include rule(padding-right, (xl: 3.02vw, lg: 4.24vw, md: 4vw, sm: 10.67vw));

  &_inner {
    max-width: none;

    @include rule(padding-left, (xl: 14.48vw, lg: 20.35vw, md: 14vw, sm: 0));
    @include rule(padding-right, (xl: 4.69vw, lg: 0));
  }

  &_text {
    max-width: none;

    @include rule(padding-left, (xl: 14.48vw, lg: 6.59vw, md: 9vw, sm: 0));
    @include rule(padding-right, (xl: 14.48vw, lg: 6.59vw, md: 9vw, sm: 0));
  }
}

.page {
  position: relative;
  display: block;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden;
  overflow-y: auto;

  &_parallax {
    perspective: 1px;
    transform-style: preserve-3d;
    transition: transform $ease-main;
    scroll-behavior: smooth;
  }
}

.js-sr {
  visibility: hidden;
}
