mixin footer()
  +b.FOOTER.footer&attributes(attributes)
    .container
      +link()._gray._underline.__link(href="policy.html") Privacy Policy
    block

mixin ui-kit-footer()
  +ui-section
    +ui-section-head
      +ui-title Компонент footer
      +ui-path
        p Компонент: components/footer/footer
      +ui-description
        p Описание компонента

    +ui-section-content()
      +footer

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
