.link {
  color: $color-basic;
  border: 0;
  transition: fill $ease-main, color $ease-main, opacity $ease-main, border-color $ease-main;
  fill: currentColor;
  display: inline-flex;
  align-items: center;

  &_purple {
    color: $color-main;
  }

  &_gray {
    color: $color-gray;
  }

  $b: &;

  &__text {
    display: inline-block;
    position: relative;

    &::before {
      @include pseudo;
      @include rule(height, (xl: .052vw, lg: .073, md: .1vw, sm: 8vw));

      bottom: 0;
      left: 0;
      width: 100%;
      background-color: currentColor;
      transform-origin: 50% 50% 0;
      transform: scaleX(0);
      transition: transform $ease-main;

      #{$b}:hover & {
        transform: scaleX(1);
      }

      #{$b}_underline & {
        transform: scaleX(1);
      }

      #{$b}_underline:hover & {
        transform: scaleX(0);
      }
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    flex-shrink: 0;
    margin-right: 10px;
  }

  &.is-disabled {
    pointer-events: none;
    fill: $color-border;
    color: $color-border;
    border-color: transparent;
  }
}
