mixin scrolldown()
  +b.scrolldown&attributes(attributes)(data-scrolldown-hide)
    .container
      .container.container_inner
        +e.A.link.js-anchor.js-sr_fade_d600(href="#services")
          +e.circle.js-sr_bottom_d700
            +icon('arrow').__icon
          +e.text.js-sr_bottom_d700
            block

mixin ui-kit-scrolldown()
  +ui-section
    +ui-section-head
      +ui-title Блок scrolldown
      +ui-path
        p Блок: blocks/scrolldown/scrolldown
      +ui-description
        p Описание Блока

    +ui-section-content()
      +scrolldown Вниз

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
