.navigation {
  $b: &;

  position: fixed;
  height: 100%;
  display: flex;
  bottom: 0;
  z-index: 9;
  box-sizing: border-box;
  color: $color-basic;
  transition: color $ease-main;
  overscroll-behavior: none;
  backface-visibility: hidden;

  @include rule(padding-left, (xl: 4.01vw, lg: 5.637vw, md: 4vw, sm: 0));
  @include rule(left, (xl: 7.29vw, lg: 3.44vw, md: 2.8vw, sm: auto));
  @include rule(right, (sm: 2.667vw));

  @include screen('sm') {
    @media (orientation: landscape) {
      right: calc(var(--vh, 1vh) * 2.667);
    }
  }

  &.is-light {
    color: $color-white;
  }

  &__titles {
    position: absolute;
    // top: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform-origin: 0 0 0;
    align-items: flex-start;
    // transform: rotate(-90deg);
    left: 0;
    box-sizing: border-box;

    // @include rule(width, (xl: calc(var(--vh, 1vh) * 100)));
    // @include rule(height, (xl: 1.5625vw, lg: 2.196vw, md: 3vw, sm: 4.8vw));
    @include rule(height, (xl: 100%));
    @include rule(width, (xl: 1.5625vw, lg: 2.196vw, md: 3vw, sm: 4.8vw));

    @include screen('sm') {
      justify-content: flex-start;

      @media (orientation: landscape) {
        // height: calc(var(--vh, 1vh) * 4.8);
        width: calc(var(--vh, 1vh) * 4.8);
      }
    }

    // .is-ie & {
    //   width: 100vh;
    // }
  }

  &__title {
    @include text-micro;

    position: absolute;
    top: 50%;
    right: 50%;
    // right: 0;
    // bottom: 0;
    display: block;
    white-space: nowrap;
    font-weight: 400;
    text-align: center;
    transition: opacity $ease-main, transform $ease-main;
    opacity: 0;
    transition-delay: 0;
    transform-origin: 50% 50% 0;
    transform: translate3d(50%, -50%, 0) rotate(-90deg);

    @include screen('sm') {
      right: 50%;
      top: 5.34vw;
      transform-origin: 100% 50% 0;
      transform: translate3d(0, 0, 0) rotate(-90deg);
      text-align: right;
      // right: calc(var(--vh, 1vh) * 4.49);
      // left: calc(var(--vh, 1vh) * 4.49);

      @media (orientation: landscape) {
        top: calc(var(--vh, 1vh) * 4.49);
        font-size: calc(var(--vh, 1vh) * 2.13);
        line-height: calc(var(--vh, 1vh) * 4.8);
      }
    }

    &.is-active {
      transition-delay: .2s;
      opacity: 1;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__link {
    position: relative;
    display: block;

    @include rule(width, (xl: 36px, sm: 18px));
    @include rule(min-width, (xl: 36px, sm: 18px));
    @include rule(height, (xl: 36px, sm: 18px));

    // @include screen('sm') {
    //   @media (orientation: landscape) {
    //     width: calc(var(--vh, 1vh) * 4.8);
    //     min-width: calc(var(--vh, 1vh) * 4.8);
    //     height: calc(var(--vh, 1vh) * 4.8);
    //   }
    // }

    &:not(:last-child) {
      @include rule(margin-bottom, (xl: 7px, sm: 4px));

      // @include screen('sm') {
      //   @media (orientation: landscape) {
      //     margin-bottom: calc(var(--vh, 1vh) * 1.07);
      //   }
      // }
    }

    &::before, &::after {
      @include pseudo;

      box-sizing: border-box;
      border-style: solid;
      border-color: currentColor;
      border-radius: 50%;
      transition: opacity $ease-main, transform $ease-main, background $ease-main;
      border-width: 1px;
    }

    &::before {
      @include rule(width, (xl: 7px, sm: 4px));
      @include rule(height, (xl: 7px, sm: 4px));
      @include rule(top, (xl: 14px, sm: 7px));
      @include rule(left, (xl: 14px, sm: 7px));

      // @include screen('sm') {
      //   @media (orientation: landscape) {
      //     width: calc(var(--vh, 1vh) * 1.07);
      //     height: calc(var(--vh, 1vh) * 1.07);
      //     min-height: calc(var(--vh, 1vh) * 1.07);
      //     top: calc(var(--vh, 1vh) * 1.87);
      //     left: calc(var(--vh, 1vh) * 1.87);
      //   }
      // }
    }

    &::after {
      transform-origin: 50% 50% 0;
      opacity: 0;
      transform: scale(.5);

      @include rule(width, (xl: 15px, sm: 8px));
      @include rule(height, (xl: 15px, sm: 8px));
      @include rule(top, (xl: 10px, sm: 5px));
      @include rule(left, (xl: 10px, sm: 5px));

      // @include screen('sm') {
      //   @media (orientation: landscape) {
      //     width: calc(var(--vh, 1vh) * 2.134);
      //     height: calc(var(--vh, 1vh) * 2.134);
      //     min-height: calc(var(--vh, 1vh) * 2.134);
      //     top: calc(var(--vh, 1vh) * 1.34);
      //     left: calc(var(--vh, 1vh) * 1.34);
      //   }
      // }
    }

    &:hover {

      &::after {
        opacity: .4;
        transform: scale(1);
      }
    }

    &.is-active {

      &::before {
        background-color: currentColor;
      }

      &::after {
        opacity: .4;
        transform: scale(1);
      }
    }
  }
}
