// Если дизайнер придумал дизайн-систему с повторяющимися стилями,
// то можно писать эти стили здесь в виде миксинов и использовать в нужных блоках
//
// Пример:
// @mixin text {
//   font-size: 14px;
//   line-height: 1.5;
// }

@mixin header-1 {
  @include rule(font-size, (xl: 3.64vw, lg: 5.12vw, md: 7vw, sm: 9.33vw)); // 70-35
  @include rule(line-height, (xl: .86, sm: 1.02));
  @include rule(letter-spacing, (xl: -.02em));

  font-family: $font-header;
}

@mixin header-2 {
  @include rule(font-size, (xl: 3.125vw, lg: 4.39vw, md: 6vw, sm: 9.33vw)); // 60 - 35
  @include rule(line-height, (xl: 1));
  @include rule(letter-spacing, (xl: -.02em));

  font-family: $font-header;
}

@mixin header-2-sm30 {
  @include rule(font-size, (xl: 3.125vw, lg: 4.39vw, md: 6vw, sm: 8vw)); // 60 - 30
  @include rule(line-height, (xl: 1));
  @include rule(letter-spacing, (xl: -.02em));

  font-family: $font-header;
}

@mixin header-3 {
  @include rule(font-size, (xl: .9375vw, lg: 1.317vw, md: 1.8vw, sm: 4.533vw)); // 18 - 17
  @include rule(line-height, (xl: 1.67, sm: 1.61));
  @include rule(letter-spacing, (xl: -.02em));
}

@mixin header-3-sm14 {
  @include rule(font-size, (xl: .9375vw, lg: 1.317vw, md: 1.8vw, sm: 3.73vw)); // 18 - 14
  @include rule(line-height, (xl: 1.67, sm: 2.05));
  @include rule(letter-spacing, (xl: -.02em));
}

@mixin text-large {
  @include rule(font-size, (xl: 1.2vw, lg: 1.68vw, md: 2.3vw, sm: 4.533vw)); // 23 - 17
  @include rule(line-height, (xl: 1.74, sm: 1.61));
  @include rule(letter-spacing, (xl: -.02em));
}

@mixin text-big {
  @include rule(font-size, (xl: 1.04vw, lg: 1.46vw, md: 2vw, sm: 3.73vw)); // 20 - 14
  @include rule(line-height, (xl: 2.1));
  @include rule(letter-spacing, (xl: -.02em));
}

@mixin text-big-xl16 {
  @include rule(font-size, (xl: .833vw, lg: 1.17vw, md: 1.6vw, sm: 3.73vw)); // 16 - 14
  @include rule(line-height, (xl: 2.1));
  @include rule(letter-spacing, (xl: -.02em));
}

@mixin text {
  @include rule(font-size, (xl: .781vw, lg: 1.1vw, md: 1.5vw, sm: 3.734vw)); // 15 - 14
  @include rule(line-height, (xl: 1.8, sm: 2.05));
  @include rule(letter-spacing, (xl: -.02em));
}

@mixin text-mid {
  @include rule(font-size, (xl: .729vw, lg: 1.02vw, md: 1.4vw, sm: 3.47vw)); // 14 - 13
  @include rule(line-height, (xl: 1.42, sm: 1.53));
  @include rule(letter-spacing, (xl: -.02em));
}

@mixin text-small {
  @include rule(font-size, (xl: .625vw, lg: .878vw, md: 1.2vw, sm: 3.2vw)); // 12
  @include rule(line-height, (xl: 2.5));
  @include rule(letter-spacing, (xl: -.02em));
}

@mixin text-micro {
  @include rule(font-size, (xl: .469vw, lg: .659vw, md: .9vw, sm: 2.13vw)); // 12
  @include rule(line-height, (xl: 1.5625vw, lg: 2.196vw, md: 3vw, sm: 4.8vw));
  @include rule(letter-spacing, (xl: .54em));

  text-transform: uppercase;
}

@mixin text-deco {
  @include rule(font-size, (xl: 6.61vw, lg: 9.3vw, md: 12.7vw, sm: 33.86vw)); // 127
  @include rule(line-height, (xl: .4));
  @include rule(letter-spacing, (xl: -.02em));

  font-family: $font-deco;
}
