// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 1736px; // Максимальная ширина контейнера контента
$container-padding: 58px; // Отступы слева и справа у контейнера
$container-padding-small: 40px;
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 12; // Количество колонок в сетке
$grid-gap: 20px; // Расстояние между колонками
$grid-gap-vertical: 20px; // Расстояние между строками в сетке
$breakpoints: (
  'xl': 1920px,
  'lg': 1600px,
  'md': 1200px,
  'sm': 768px,
  'xs': 480px
);

// ##########
// Цвета
// ##########
$color-basic: #1e2227; // Основной цвет текста (применяется к body)
$color-placeholder: #777; // Основной цвет для placeholder
$color-input: black; // Основной цвет input, select и textarea
$color-main: #8724ba; // Основной фирменный цвет
$color-border: #ccc; // Основной цвет границ таблиц, секций
$color-white: #fff;
$color-bg: #e9e9e9;
$color-dark: #1d2126;
$color-lead-bg: #3a3c3e;
$color-markers: #b5b5b5;

// ##########
// Массив цветов для UI-кита
// ##########
$colors: (
  '$color-basic': #1e2227,
  '$color-placeholder': #777,
  '$color-input': black,
  '$color-main': #8724ba,
  '$color-border': #ccc,
  '$color-white': #fff,
  '$color-bg': #e9e9e9,
  '$color-dark': #1d2126,
  '$color-markers': #b5b5b5,
);

// ##########
// Transitions
// ##########
$ease-main: .2s ease;

// ##########
// Шрифты
// ##########
$font-main: GothamPro, Arial, sans-serif; // Основной шрифт сайта
$font-header: FuturaDemiC, GothamPro, sans-serif; // Шрифт заголовков
$font-deco: BerkshireSwash, GothamPro, sans-serif; // Шрифт декоративный

// ##########
// Цвета для UI-кита (удалить, если он отсутствует)
// ##########
$ui-kit-bg: $color-white; // Фон кита
$ui-kit-color-text: $color-basic; // Цвет текста
$ui-kit-color-gray: #ccc; // Цвет границ
$ui-kit-color-darkbg: #111; // Фон темной секции
