mixin lead()
  +b.SECTION.lead&attributes(attributes)
    +e.layer_back4
      +e.IMG.image(src="assets/images/parallax-layer-4.jpg")
    +e.layer_back3.parallax(data-speed="25")
      +e.IMG.image(src="assets/images/parallax-layer-3.png")
    +e.layer_back2.parallax(data-speed="50")
      +e.IMG.image(src="assets/images/parallax-layer-2.png")
    +e.layer_back1(data-speed="100")
      +e.IMG.image(src="assets/images/parallax-layer-1.png")
    +e.layer_base.parallax(data-speed="11")
      .container
        .container.container_inner
          +e.H1.title.js-sr_fade_d800 Consistent impeccable round&#8209;the&#8209;clock service
          +e.text.js-sr_bottom_d900 We reliably deliver delightful customer experience in the civil business aviation industry specializing in such services as aircraft sales and acquisitions, aircraft management, charter sales and aviation consulting.
    +scrolldown().__scrolldown Scroll down for more
    block

mixin ui-kit-lead()
  +ui-section
    +ui-section-head
      +ui-title Компонент lead
      +ui-path
        p Компонент: components/lead/lead
      +ui-description
        p Описание компонента

    +ui-section-content()
      +lead

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
