.lead {
  $b: &;

  position: relative;
  display: block;
  // background-color: $color-lead-bg;
  height: calc(var(--vh, 1vh) * 100);
  box-sizing: border-box;
  perspective: 1000px;

  @include rule(padding-top, (xl: 10.42vw, lg: 14.64vw, md: 20vw, sm: calc(var(--vh, 1vh) * 24.85)));

  &__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;

    &_back {

      &4 {
        z-index: 1;
        transform: translateZ(0);
      }

      &3 {
        z-index: 2;
        transform: translateZ(100px) scale(.9);
      }

      &2 {
        z-index: 3;
        transform: translateZ(300px) scale(.7);
      }

      &1 {
        z-index: 4;
        transform: translateZ(500px) scale(.5);
      }
    }

    &_base {
      z-index: 5;
      transform: translateZ(800px) scale(.2);
    }
  }

  &__image {
    position: absolute;
    display: block;
    font-size: 0;
    line-height: 0;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    min-height: 100%;
    min-width: 100%;
  }
}
