.content-zone {
  $b: &;

  h1, h2, h3, h4, h5, h6 {

    &:not(:first-child) {
      @include rule(margin-top, (xl: 1.35vw, lg: 1.9vw, md: 2.6vw, sm: 4.534vw));
    }

    &:not(:last-child) {
      @include rule(margin-bottom, (xl: 1.35vw, lg: 1.9vw, md: 2.6vw, sm: 4.534vw));
    }
  }

  h1 {
    @include header-1;

    font-weight: 400;
  }

  h2 {
    @include header-2;

    font-weight: 400;
  }

  h3, h4, h5, h6 {
    @include header-3;

    font-weight: 700;
  }

  p {
    @include text;

    &:not(:last-child) {
      @include rule(margin-bottom, (xl: 1.41vw, lg: 1.98vw, md: 2.7vw, sm: 7.47vw));
    }

    small {
      display: block;

      @include text-small;
    }
  }

  a {
    color: $color-main;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  blockquote {
    padding-left: 40px;
    border-left: 2px solid black;
    display: block;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  img {
    max-width: 100%;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  > ul, > ol {

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  ul, ol {
    @include text;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 1.35vw, lg: 1.9vw, md: 2.6vw, sm: 4.534vw));
    }

    &:not(:last-child) {
      @include rule(margin-bottom, (xl: 1.35vw, lg: 1.9vw, md: 2.6vw, sm: 4.534vw));
    }

    li {
      position: relative;
    }
  }

  ul {

    li {

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: '•';
      }
    }
  }

  ol {
    counter-reset: list1;

    ol {
      counter-reset: list2;

      ol {
        counter-reset: list3;
      }
    }

    li {
      position: relative;

      &::before {
        position: absolute;
        display: inline-block;
        right: 0;
        top: 0;
        counter-increment: list1;
        content: counter(list1, decimal-leading-zero);
        color: $color-markers;
        font-weight: 700;

        @include rule(right, (xl: calc(100% + 2.24vw), lg: calc(100% + 3.15vw), md: 0));
        @include rule(display, (xl: inline-block, md: block));
        @include rule(position, (xl: absolute, md: static));
        @include rule(margin-bottom, (md: 1.7vw, sm: 2.13vw));
        @include text-small;
      }

      ol li {

        &::before {
          position: static;
          display: inline-block;
          counter-increment: list2;
          content: counter(list1) '.' counter(list2) '. ';
          color: $color-basic;
          font-weight: 400;

          @include text;
          @include rule(margin-bottom, (md: 0));
          @include rule(margin-right, (xl: .208vw, lg: .293vw, md: .4vw, sm: 1.1vw));
        }
      }

      li ol li {

        &::before {
          position: static;
          display: inline-block;
          counter-increment: list3;
          content: counter(list1) '.' counter(list2) '.' counter(list3) '. ';
          color: $color-basic;
          font-weight: 400;

          @include text;
          @include rule(margin-bottom, (md: 0));
        }
      }
    }
  }

  &_policy {

    ol {

      li {

        &:not(:last-child) {
          @include rule(margin-bottom, (xl: 4.27vw, lg: 5.71vw, md: 16vw));
        }

        ol {

          li {

            &:not(:last-child) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
