include _externalIncludes
include _internalIncludes

doctype html
html(lang='en')
  include head
  body
    block header
    - var hdc = headerDark || false
    - var isFooter = noFooter || false
    - var pg = currpage || ''

    +b.MAIN.page
      block content
    if !isFooter
      +footer
    script(src='assets/scripts/app.min.js')
