mixin card()
  +b.FIGURE.card&attributes(attributes)
    +e.FIGCAPTION.title 1927
    +e.IMG.image(src="assets/images/about.jpg")
    block

mixin ui-kit-card()
  +ui-section
    +ui-section-head
      +ui-title Блок card
      +ui-path
        p Блок: blocks/card/card
      +ui-description
        p Описание Блока

    +ui-section-content()
      +card

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
