mixin parallax()
  +b.parallax&attributes(attributes)
    block
    
mixin ui-kit-parallax()
  +ui-section
    +ui-section-head
      +ui-title Блок parallax
      +ui-path
        p Блок: blocks/parallax/parallax
      +ui-description
        p Описание Блока
  
    +ui-section-content()
      +parallax
      
    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()